@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #f1eeef;
    --background: #110e0e;
    --primary: #3b4543;
    --secondary: #211c1d;
    --accent: #7b8e8b;
}

body {
    margin: 0;
    background-color: var(--background);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#camera {
    position: absolute;
    transform: rotateY(180deg);
    opacity: 0.6;
}

.score {
    display: flex;
    justify-content: center;
    color: var(--text);
    font-size: 6vh;
    font-weight: 600;
}

.score>* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
}

.score>:first-child {
    text-align: right;
    border-right: .5vh solid var(--text);
}

.resultsBox {
    width: 22em;
    margin: 0 auto;
    padding: 2em;
    background-color: var(--secondary);
    border-radius: 0.3em;
    box-shadow: var(--secondary) 0px 0px 10px;
    color: var(--text);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#result {
    font-weight: 600;
    text-align: center;
    margin: 0;
}

#winner,
#timer {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
}