@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: #03001C;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

#camera {
    border: 0.2em solid #301E67;
    border-radius: 0.8em;
    transform: rotateY(180deg);
    height: 100vh;
}

.score {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6vh;
    font-weight: 600;
}

.score>* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
}

.score>:first-child {
    text-align: right;
    border-right: .5vh solid white;
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: white;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    /* moves it back by 50% of its height */
    width: 1.2vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    z-index: 1;
    background-color: white;
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translate(-50%, 50%);
    /* moves it back by 50% of its height and width so its perfectly centered */
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}