body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #03001C;
}

#camera {
    border: 0.3em solid #301E67;
    border-radius: 0.5em;
    transform: rotateY(180deg);
}

.box {
    width: 4em;
    height: 8em;
    background-color: silver;
    position: absolute;
}